/* Main container for authentication pages */
.auth-container {
  max-width: 400px;
  margin: auto; /* Remove top margin here */
  margin-top: 80px; /* Add margin-top */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
